---
import ItemCard from './ItemCard.astro'
import {items} from '../../services/items'
---

<section class="mt-10 md:mt-20 mb-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        {
            items.map((item: any) => (
                <ItemCard
                  id={item.id}
                  name={item.name}
                  img={item.img}
                  price={item.price}
                  likes={item.likes} 
                  description={item.description}
                  />
            ))
        }
    </div>
</section>